.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/static/images/d9430a92de9dad1daad9164dc99ef8b1c2bea5dc7442cd22372471f94dd7f08269b7f1ee7ca1e82be3c01b8294e020f58ad48cd958923a8f2fedb3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 165px;
}

.u-section-1 .u-text-1 {
  margin: 32px auto 54px -34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: -34px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  text-decoration: underline !important;
  margin: 78px auto 0 25px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 25px;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 25px;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 25px;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 60px 25px;
}

.containerzz
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card
{
  margin-bottom: 2rem;
}


.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 14px auto 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  margin: 14px auto 0;
  padding: 2px;
}

.u-section-2 .u-icon-1 {
  color: rgb(122, 208, 109) !important;
}

.u-section-2 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 36px 254px 0 auto;
  padding: 13px 31px 13px 30px;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
  font-size: 2.5em;
}

.u-section-2 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: -90px auto 60px 281px;
  padding: 13px 22px;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
  font-size: 2.5em;
}